
@model IEnumerable<FirstSteps.Models.Partner>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-dark">Partnerek listája</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-controller="Partner" asp-action="Create" class="btn btn-primary"> Új partner felvitele</a>
        </div>
        
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class=" table table-bordered table-striped bg-light" style="width:100%">
            <thead>
                <tr>
                    <th>Partner neve</th>
                    <th>Partner címe</th>
                    <th>Partner adószáma</th>
                    <th>Megjegyzések</th>
                    <th>Kapcsolattartó neve</th>
                    <th>Változtatások</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td width="15%">@item.PartnerName</td>
                    <td width="15%">@item.PartnerAddress</td>
                    <td width="10%">@item.PartnerTaxNumber</td>
                    <td width="15%">@item.PartnerNotifications</td>
                    <td width="15%">@item.ContactId</td>
                    <td width="30%">
                        <div class="w-100 btn-group">
                            <a asp-controller="Partner" asp-action="PartnerForm" asp-route-PartnerId="@item.PartnerId" class="btn btn-primary mx-1"> Partnerűrlap megnyitása</a>
                        </div>
                    </td>
                </tr>
                }
               
            </tbody>

        </table>
    }
    else
    {
            <p>A partner adatbázis üres, nincs elérhető adat!</p>
    }

    </div>
  
